// All headings
$headingFontFamily: "MuseoModerno", cursive;

// Heading 1
$headingFontSize: 5rem;

// Heading 2
$heading2FontSize: 3.5rem;

// Body
$bodyFontSize: 1.25rem;
$bodyLetterSpacing: 0.7px;
$bodyLineHeight: 2.4rem;
$bodyFontWeight: lighter;

// Title
$titleFontSize: 0.9rem;
$titleFontWeight: lighter;
$titlePaddingBot: 30px;

// Div margins after each section
$divBotMargin: 7rem;
